<!--
 * @FileName: curryinng
 * @Author: Leinov
 * @Date: 2019-11-28 10:10:47
 * @LastEditTime: 2019-11-28 21:30:27
 * @Description: JavaScript函数柯里化
 * @FilePath: \Blog\examples\currying\index.html
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JavaScript函数柯里化最佳实践 | Currying</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
    <div class='header'>柯里化最佳实践</div>
    <div id='app' class='flex'>
        <template v-for='item in [1]'>
            <div class='currying flex'>
                <div class='list-wrapper'>
                    <div class='list'>
                        <template v-for='listitem in list'>
                            <div class='item' v-bind:style="{ backgroundColor: listitem.theme}">{{listitem.id}}</div>
                        </template>
                    </div>
                    <div>{{pageLength}}页</div>
                </div>
                <div class='view flex1'>
                    <div>点击右侧主题背景色块查看使用次数，和代码执行时间</div>
                    <div class='flex'>
                        <div class='current-theme'  v-bind:style="{ backgroundColor: currentTheme}"></div>
                        该主题背景被使用至<strong>{{item === 1 ? num1 : num2}}</strong>个页面
                    </div>
                    <div class='flex'>
                        <h4>柯里化处理</h4>
                        <div>  查询耗时:   <strong>{{item === 1 ? time1 : time2}}ms</strong></div>
                    </div>
                    <div class='flex'>
                        <h4>非柯里化处理</h4>
                        <div>查询耗时: <strong>{{time2}}ms</strong></div>
                    </div>
                    <div class='code'>
                        <pre>
                            <code class='javascript'>
                                {{code1}}
                            </code>
                        </pre>
                    </div>
                    
                    <div class='code'>
                        <pre>
                            <code class='javascript'>
                                {{code2}}
                            </code>
                        </pre>
                    </div>
                </div>
                <div class='theme'>
                    <template v-for='themeitem in theme'>
                            <div class='item' v-on:click="usedNum(themeitem, item)" v-bind:style="{ backgroundColor: themeitem}"></div>
                    </template>
                </div>
            </div>
        </template>
    </div>
</body>
</html>