body{
    padding:.2rem;
    font-size: .2rem!important;
    color: #333;
    .img-wrap {
        width: 100%;
    }
    img{
        width: 100%;
    }
}
.article-goods-card{
    margin: 20px auto;
    width: 100%;
    height: 1.2rem;
    overflow: hidden;
    background: #F6F7F9;
    border-radius: .0768rem;
    display: flex;
    padding: .144rem;
    box-sizing: border-box;
    .goods-pic {
      .img-wrap{
        width: .9216rem;
        height: .9216rem;
        margin-top: 0!important;
        img{
          width: .9216rem;
          height: .9216rem;
          border-radius: .0288rem;
        }
    }
    }
    .goods-info{
      flex:1;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      position: relative;
      height: 100%;
      margin-bottom: 0!important;
      .name-wrapper{
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        display: flex;
        margin-bottom: 0!important;
        .name{
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: bold;
          font-size: .134rem!important;
          /*height: .384rem!important;*/
          color: #222222;
          line-height: .192rem;
          margin:0;
          padding:0;
          max-height: .384rem;
          font-weight: 600;
          font-synthesis: style;
          display: -webkit-box;
          text-overflow: ellipsis;
          overflow: hidden;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-align:initial;
        }
       }
    }
    p{
      margin-block-start: 0;
      margin-block-end: 0;
    }
    .source{
      font-size: .125rem;
      color:#919191;
      flex:1;
      box-sizing: border-box;
      margin-top: .12rem;
      line-height: 0!important;
      margin-bottom: 0!important;
      span:nth-child(2){
        margin-left: .06rem;
      }
    }
    .price{
      display: flex;
      align-items: center;
      margin-bottom: 0!important;
      span{
        display: block;
        color: red;
      }
      span:nth-child(1){
        flex:1;
        font-size: .134rem;
        font-weight: 600;
        color: #FD4246;
      }
      span:nth-child(2){
        display: flex;
        align-items: center;
        justify-content: center;
        width: .6048rem;
        height: .26rem;
        border-radius: .144rem;
        border: 1px solid #FD4246;
        font-size: .1152rem;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #FD4246;
        padding-left: .03rem;
      }
      span:nth-child(2) img {
        width: .12rem;
        height: .12rem;
        background: none!important;
        margin:0!important;
      }
    }
  }
 