.card-body{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 0.1rem;
}
.card-wrapper{
    position: relative;
    .card-item{
        position: absolute;
        left:0;
        bottom:0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: .3rem;
        background-color: #fff;
        border-radius: 3px;
        border: 1px solid #f2f2f2;
        box-shadow: 0 0 3px #f2f2f2;
        .card-inner{
            cursor: pointer;
            width: 100%;
            height: 100%;
        }
        img{
            width:100%;
        }
    }
}